target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea
src/main.zip
.java-version

result/
sharded_tiny/
shared_tiny/
src.zip
group_diff.txt

benchmarks_sharded_mem_artifact_A.yaml
benchmarks_sharded_mem_artifact_B.yaml
benchmarks_sharded_mem_artifact_C.yaml
benchmarks_sharded_mem_artifact_D.yaml
task_attribution_cpu.csv
task_attribution_memory.csv

